.gradient-content{
    width: 485px;
    height: 127px;
    background-image: linear-gradient(to right, #3752FD,  #9BA8F8);
}
.history{
    width: 196px;
}

.card-1{
    width: fit-content;
}
.card-parent{
    display: grid ;
    grid-template-columns: repeat( 3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 2px;
    margin-right:  175px;
}
